@font-face {
    font-family: 'kiddicare';
    src: url('../fonts/kiddicare4-webfont.eot');
    src: url('../fonts/kiddicare4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kiddicare4-webfont.woff') format('woff'),
         url('../fonts/kiddicare4-webfont.ttf') format('truetype'),
         url('../fonts/kiddicare4-webfont.svg#kiddicarekiddicare') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_softregular';
    src: url('../fonts/proximanovasoft-regular-webfont.eot');
    src: url('../fonts/proximanovasoft-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanovasoft-regular-webfont.woff') format('woff'),
         url('../fonts/proximanovasoft-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanovasoft-regular-webfont.svg#proxima_nova_softregular') format('svg');
    font-weight: normal;
    font-style: normal;

}