input {
	font-size: 20px;
	color: lighten($gray, 35%);
	box-sizing: border-box;
	padding: $padding; 
}

[name="submit"] {
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: $corners;
	@include text-shadow(rgba(black, 0.4) 1px 1px 0);
	margin-bottom: $gutter;
}


